<!DOCTYPE html>
<html lang = "en">
<head>
    <div id = "responBody">
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <script src="./js/meals.js">
    </script>
    
    <title>~SAIIKOU RAMEN~</title>
</head>
<body>
{{{body}}}
</body>
</div>
</html>