 <div id = "responBody">
 <div style="background-color:azure;">
<div style="background-image: url('images/headerbg.png'); background-size: cover;">
<h2 class= logo><img src="images/logo.png" id= "logoimg"></h2>
    <div id= navbar>
            <a href= "/"><img src="images/home.png" id= "menuimg"></a>
            <a href="/login"> <img src="images/login.png" id= "menuimg"></a>
            <a href="/signup"> <img src="images/signup.png" id= "menuimg"></a>
           <a href="/meals"> <img src="images/meals.png" id= "menuimg"></a>
        </div>
        </div>
          </br>
<body>
  <div class="herodiv">
<img src="images/hero.png" id= "hero">
</div>
<h3 id="title1">~Saiikou Ramen Deliveries~</h3>
<div id="left">
<p id="summary">It's almost crazy how good this ramen is bro. The delivery service is driven crazy to deliver SAIIKOU RAMEN!! Personally I believe so as Shaggy has been shown in the show to have the extreme speed of a great dane while maintaining the communication skills and bipedal nature of a human. This combined with his amazing investigative skills and extremely fast metabolism means that Shaggy would be able to simply investigate Goku’s whereabouts and then use his speed to sneak up on him and eat him in one gulp as in the show it has been shown that shaggy can eat things as big or bigger than him in one fell swoop.
</p>
</br></br>
<h3 id="title2">About Us!</h3>
<p id="summary">Read this if you want to know how I'm sitting in my chair right now. My feet relaxed on the base of my table with shin resting on my computer. I'm quite comfortable, and so will your stomach after eating saiikou ramen. You'll be asking SAIIKOUU questions like where was the Paw Patrol during the Iran Hostage Crisis? As far as we know the PAW Patrol has the capabilities of international travel and possible covert operation capabilities. However, the PAW Patrol failed to assist in any way during the Iran Hostage Crisis of 1979, which is unacceptable seeing as the US diplomats were hostages from November 4, 1979, to January 20, 1981. Could it be that the PAW Patrol is run by Islamic extremist that utilize PAW Patrol to increase positive images of the extremist, while also taking money from the UN? Or that the PAW Patrol is US run, and was told by the CIA to not intervene with the hostage crisis? If it is the former, why so? Could the Iran Hostage Crisis be a hoax, used to crack down on Iran for bringing down the monarchy that was ruling Iran, made possible by a coup from the US and UK?
</p>
</br></br>
</div>

<div id="right">
  <img src="images/rightimg.png" id= "rightimg">
</div>
<div id="menuitems"></div>

<div style="background-image: url('images/footerbg.png');" id="footer"> 
<footer >

<p id="foot">SAIKOU SERVICE!</p>
<p id="foot">About Us!</p>
<p id="foot">Contact Us! [Please don't]</p>
</footer>

<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.png" id= "socialmediafoot"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.png" id= "socialmediafoot"></a>
</div>
</div>
</div>
</body>
</div>
