<div id = "responBody">
<div style="background-color:azure;">
<div style="background-image: url('images/headerbg.png'); background-size: cover;">
<h2 class= logo><img src="images/logo.png" id= "logoimg"></h2>

    <div id= navbar>
            <a href= "/"><img src="images/home.png" id= "menuimg"></a>
            <a href="/login"> <img src="images/login.png" id= "menuimg"></a>
            <a href="/signup"> <img src="images/signup.png" id= "menuimg"></a>
            <a href="/meals"> <img src="images/meals.png" id= "menuimg"></a>
        </div>
        </div>
          </br>
<body>
</br></br>
<div class="herodiv">
<img src="images/hero.png" id= "hero">
</div>
<div id="menuitems"></div>
{{!--<div class="row">
<div class="column">
  <img src="images/shoyu_ramen.png" id="column img">
   <img src="images/venison_ramen.png" id="column img">
   <img src="images/miso_ramen.png" id="column img">
</div>
<div class="column">
  <img src="images/chicken_ramen.png" id="column img">
   <img src="images/spicy_beef_ramen.png" id="column img">
</div>
</div> --}}
<div style="background-image: url('images/footerbg.png');" id="footer"> 
<footer >

<p id="foot">SAIKOU SERVICE!</p>
<p id="foot">About Us!</p>
<p id="foot">Contact Us! [Please don't]</p>
<div id= "socialmediafootdiv">
  <a href="https://www.facebook.com/"> <img src="images/facebook.png" id= "socialmediafoot"></a>
  <a href="https://twitter.com/"> <img src="images/twitter.png" id= "socialmediafoot"></a>
  <a href="https://www.instagram.com/"> <img src="images/instagram.png" id= "socialmediafoot"></a>
</div>
</footer>
</div>
</body>
</body>
</div>
</div>